<div class="profilebox my-2">
  <div class="row">
    <div class="col-3 text-left">
        <%= image_tag opinion.user.avatar.url, class: 'avatarforum' if present? %>
    </div>
    <div class="col-5">
      <h4> <%= opinion.user.name %>: </h4>
      <h6> <%= opinion.body %></h6>
    </div>
    <div class="col text-right">
      <% if current_user.id == opinion.user.id %>
      <%= link_to [opinion.topic, opinion], method: :delete do %>
      <i style='color: red' class="fas fa-trash-alt"></i>
      <% end %>
      <% end %>
    </div>
  </div>


</div>
