<% content_for :title, "Toute les discussion des étudiants | Unigecommunity" %>
<% content_for :title, "Créer des discussion entres les étudiants de l'unige et s'entraider pour les révisions." %>

<div class="container">
  <h2 class='title text-center'>Discussions</h2>
  <%= link_to 'Créer une discussion', new_topic_path, class: 'my-1 btn btn-success' %>
  <table class="table table-striped table-dark">
  <thead>
    <tr>
      <th scope="col">Titre de discussions</th>
      <th class='text-center' scope="col">Opinions</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <% @topics.each do |topic| %>
    <tr>

      <td><%= topic.title %></td>
      <td class='text-center'><%= topic.opinions.count %></td>
      <td class='text-right'><%= link_to 'Voir', topic, class: 'btn mybtn' %></td>
    </tr>
    <% end %>
  </tbody>
</table>
</div>
