<div class="container">



<footer class=" text-center row">
  <div class="col-4">
  footer Short description
  </div>
  <div class="col">
    footer quick links
  </div>
  <div class="col">
    footer something else
  </div>
</footer>
</div>
