<div class="container">



<footer class=" text-left row mt-5 p-2">
  <div class="col-12 text-center">
    <%= link_to "Accueil", "/"%> |
    <%= link_to "Facultés", categories_path %> |
    <%= link_to "Rejoins-nous", new_user_registration_path%>
  </div>


</footer>
</div>
