<div class="container">



<footer class=" text-left row mt-5 p-2">
  <div class="col-4">
  <h3>What is unigecommunity?</h3>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium tempore at, eveniet ad, necessitatibus animi suscipit illo officia mollitia amet!</p>
  </div>
  <div class="col text-center">
    <h3>Quick Links</h3>
    <%= link_to "Accueil", "/"%> <br>
    <%= link_to "Facultés", categories_path %> <br>
    <%= link_to "Join us", new_user_registration_path%>
  </div>
  <div class="col">
      <%= image_tag 'premium.jpg', class:"img-fluid" %>
  </div>
</footer>
</div>
