<div class="container">



<footer class=" text-left row mt-5 p-2">
  <div class="col-4 text-center">
    <%= link_to "Accueil", "/"%> |
    <%= link_to "Facultés", categories_path %> |
    <%= link_to "Rejoins-nous", new_user_registration_path%>
  </div>
  <div class="col">
    Copyright - 2020 - UnigeCommunity
  </div>

  <div class="col">
    
  </div>


</footer>
</div>
