body{
  width: 100vw;
}


.jumbotron{
  background-image: url("https://images.unsplash.com/photo-1568392226616-67710680efd8?ixlib=rb-1.2.1&auto=format&fit=crop&w=1500&q=80");
  background-repeat: no-repeat;
  position: relative;
}


.jumbotronprofile{
  background-image: url("https://images.unsplash.com/photo-1456513080510-7bf3a84b82f8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1332&q=80");
  background-repeat: no-repeat;
  background-position: center;
  height: 30vh;
}

.profilecontainer{

}

.profilepicturecontainer{
  width: 100%;
  position: absolute;
}


.profilenamecontainer{
position: absolute;
}

.profilename{
  font-size: 2rem;
  font-weight: 700;
  color: black;
  margin-top: 60px;
;
}

.profilecategory{
  font-weight: normal;
  font-size: 1.2rem;
  color: #333333;
}

.postbuttons{
  margin-top: 10px;
}

.profilebox{
  border: 1px solid rgb(152, 152, 152);
  border-radius: 10px;
  height: 200px;
  word-wrap: break-word;
}

.box-title{
  font-weight: 500;
}

.mylogo, .mylogo:hover{
  font-size: 2.4rem;
  font-family: impact;
  color: white;
  text-decoration: none;
}

.jumbocontainer{
  background-color: rgba(255, 255, 255, 0.7);
  width: 80%;
}

.form-wrapper{
  background-color: #ededed;
  max-width: 700px;
  padding: 20px;
  border-radius: 5px;

}

.faculty-section{
  background-color: white;
  border-radius: 0px;
  -webkit-box-shadow: 10px 10px 30px -5px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 30px -5px rgba(0,0,0,0.75);
box-shadow: 10px 10px 30px -5px rgba(0,0,0,0.75);

}

.card:hover{
  -webkit-box-shadow: 10px 10px 30px -5px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 30px -5px rgba(0,0,0,0.75);
   box-shadow: 10px 10px 30px -5px rgba(0,0,0,0.75);
}

.form-control{
  margin-top: 10px;
  margin-bottom: 10px;
}

select{
  width: 300px;
  background-color: green;
  color: white;
  height: 50px;
}


.image-card{
  width: 18rem;
}

.login-box{
  width: 500px;
  background-color: #ededed;
  border-radius: 5px;
  padding: 20px;
  height: 400px;

}

.edit-box{
  width: 500px;
  background-color: #ededed;
  border-radius: 5px;
  padding: 20px;
  min-height: 400px;

}

.login-img{
  width: 450px;
}


tbody{
  border-top: 1px solid black;
}

.image-show{

box-shadow: 10px 10px 30px -5px lightgray;
width: 100%;
height: 500px;
}

.post-details{
  border-radius: 0px;

box-shadow: 10px 10px 50px -5px lightgray;
height: 600px;
word-wrap: break-word;
}
.post-title{
  font-weight: 400;

}
.points{
  font-weight: 200;
  color: red;
  margin-left: 50px;
  font-size: 2rem;;
}

.pointsbutton{
  background-color: transparent;
  border-radius: 50%;
  font-size: 20rem;
  width: 60px;
  padding: 5px;
  padding-top: 15px;
}

.points-thumb{
  color: red;
  position: absolute;
  font-size: 1.2rem;
  margin: 4px;
  background-color: RGBA(0,0,0,0.19)
;
}

.pointsbutton:hover{
  color: red;
}

.avatar{
  border-radius: 100%;
  width: 12rem;
  border: 3px solid white;
  height: 12rem;
}

footer{
  background-color: #333333;
  max-height: 100px;
  color: white
}

.premium-section{
  height: 400px;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(https://images.unsplash.com/photo-1434030216411-0b793f4b4173?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80);
}

.premium-text{
  background-color: rgba(5, 0, 3, 0.51);
  color: white;
}

















h1,h2,h3,h4,h5,h6,p{
    font-family: 'Open Sans' ;
}

.body{
    background-color: rgba(244, 244, 244, 0.399);
}

.navbar{
    background-color: white;
    border-bottom: 1px solid rgb(220, 220, 220);
}

.nav-button{
    color: rgb(57, 57, 57);
    font-size: 1.4rem;
}

.logo{
    height: 10px;
    width: 50px;
}

.searchbar{
    width: 300px;
    height: 40px;
    border-radius: 5px;
    border: 1px solid rgb(213, 212, 212);
    -webkit-box-shadow: 1px 9px 40px 5px rgba(214,214,214,1);
    -moz-box-shadow: 1px 9px 40px 5px rgba(214,214,214,1);
    box-shadow: 1px 9px 50px 0px rgba(214,214,214,1);


}

.btn-search{
    border: 1px solid rgb(155, 12, 155);
    color: rgb(155, 12, 155);
    border-radius: 5px;
    padding: 5px;
    width: 40px;
}
.header{
    /* background-image: url('images/header.jpg'); */
    width: 100%;
    height: 700px;
    background-position: center;
    background-size: 100%;
}

.title{
    margin: 15px 0px;
    font-size: 3rem;
    font-weight: 600;

}

.subtitle{
    margin: 2px 0px;
    font-size: 1.5rem;
    font-weight: 300;

}

.span1{
    color: green;
}


.header-box1{
    width: 90%;
    height: 300px;
    margin: 50px auto;
    background-image: url('https://images.unsplash.com/photo-1532153955177-f59af40d6472?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60');
    background-position: center;
    background-size: 100% 100%;
    border-radius: 4px;

}

.header-box2{
    width: 90%;
    height: 300px;
    margin: 50px auto;
    background-image: url('https://images.unsplash.com/photo-1456513080510-7bf3a84b82f8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60');
    background-position: center;
    background-size: 100% 100%;
    border-radius: 4px;


}

.header-box1:hover, .header-box2:hover{
    -webkit-box-shadow: 0px 42px 36px -7px rgba(179,179,179,1);
-moz-box-shadow: 0px 42px 36px -7px rgba(179,179,179,1);
box-shadow: 0px 42px 36px -7px rgba(179,179,179,1);
    transition: 500ms ;
}

.boxtitle{
    font-size: 2.5rem;
    font-weight: 900;
    color: rgb(0, 0, 0);
}
.btnpurple {

    padding: 10px;
    text-decoration: none;
    color: white;
    border-radius: 20px;
}

.button {
    border-radius: 50px;
    background-color: #203354;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 1.2rem;
    padding: 15px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
  }

  .button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }

  .button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }

  .button:hover span {
    padding-right: 25px;
  }

  .button:hover span:after {
    opacity: 1;
    right: 0;
  }

  .profile{
      border-radius: 100%;
      border: solid 2px rgb(155, 12, 155);
      width: 50px;
      display: none;
      position: absolute;
  }

  .price{
    background-color:rgba(155, 12, 155, 0.714) ;
    color: white;
    padding: 10px;
    min-width: 50px;
    position: absolute;
    display: none;
    left: 70%;
}

.mybtn, .mybtn:hover{
  background-color: #5976a9;
  text-decoration: none;
  border: none;
  color: white;
}

.collection-title{
    font-size: 1.5rem;
    font-weight: 600;
}

.collection-box:hover{
    -webkit-box-shadow: 0px 42px 36px -7px rgba(179,179,179,1);
    -moz-box-shadow: 0px 42px 36px -7px rgba(179,179,179,1);
    box-shadow: 0px 42px 36px -7px rgba(179,179,179,1);
    transition: 500ms ;
    text-decoration:none;
}

.carousel, .carousel-inner, .carousel-item{
    height: 400px;
}

.span2{
    font-weight: 900;
    background-color: rgba(77, 77, 77, 0.728);
}

footer{
    background-color: white;
    border-bottom: 1px solid rgb(220, 220, 220);
    padding: 20px;
}

.list{
    margin: 0 auto;
    list-style-type: none;
}

.number{
    width: 100px;
}

.checkbox{
}

.filters{
    border: 1px solid rgb(222, 222, 222);
    padding: 10px;
    border-radius: 10px;
    max-height: 500px;
}

select{
    height: 50px;
    width: 100%;
    background-color: green;
}

.card-img-top{
  width: 15rem;
  height: 12rem;
}

.collection-body{
  width: 15rem;
  height: 9rem;
  text-decoration:none;
}

.post-body{
  width: 15rem;
  height: 6rem;
}
.post-body-profile{
  width: 15rem;
  height: 11rem;
}

.card-text {
  color: black;
  text-decoration:none;
}




/* Mail layout */
.headbar{
    background-color: rgb(32, 150, 32);
    height: 50px;
    width: 100%;
margin: 50px 0px;
color: white;
}

.confirm-link{
    background-color: rgb(32, 150, 32);
    text-decoration: none;
    color: white;
    padding: 10px;
    font-size: 2rem;
}

.search-bar {
    font-size: 1.5rem !important;
}


.modal-body .modal-content, .modal{
  min-width: 700px;
}

.post-count{
  text-decoration: underline;
}

.badge{
}
