<% content_for :title, "Facultés | Unigecommunity" %>
<p id="notice"><%= notice %></p>

<div class="container">

<div class="row  my-5">

<h2 class="text-center col-12"> Facultés </h2>
<%  @categories.each do |category| %>
<div class="col-md-4 text-center my-4 ">
    <div class="card m-1" style="max-width: 18rem; height: 100%;">


    <div class="card-body">
      <h5 class="card-title text-center"> <%= link_to category.category , category %> </h5>
      <%= category.posts.count %><a> <i class="far fa-copy"></i> </a>

    </div>
  </div>

    </div>
<% end %>



</div>
</div>
