<% content_for :title, "Facultés | Unigecommunity" %>


<div class="container">



<div class="row  my-5">




<h2 class="text-center col-12"> Facultés </h2>

<div class="dropdown col-12">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Facultés
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <%  @categories.each do |category| %>
      <%= link_to category.category , category , class: 'dropdown-item' %>
  <% end %>
  </div>
</div>


<% @categories.each do |category| %>
  <div class="text-center mt-4 col-sm-6 col-lg">
    <div class="collection-box card" style="width: 15rem">
      <% if category.catimage.url.present? %>
        <%= image_tag category.catimage.url, class: "card-img-top" %>
      <% end %>
      <div class="collection-body card-body">
        <h5 class="collection-title"><%= link_to category.category, category %></h5>

      </div>
    </div>
  </div>
<% end %>



</div>
</div>

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>