

<div class="container">
  <div class="row my-5">

    <div class="col-6 m-auto  text-center">
      <h2>Create a category</h2> <br>
      <%= render 'form', category: @category %>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <h2>All categories</h2>
      <% @categories.each do |c| %>
          <%= link_to c.category, edit_category_url(c) %> <br>
      <% end %>
    </div>
  </div>
</div>
