<div class="container">

  <div class="row">

    <% @category.posts.each do |p| %>
      <div class="col">
          <div class="card m-1" style="max-width: 18rem; height: 100%;">


          <div class="card-body">
            <h5 class="card-title">  <%= p.title  %>  </h5>
            <p class="card-text"><%= p.body %> </p>

            <span>   <%= link_to "View", p, class: "btn btn-primary"  %> </span>
          </div>
        </div>

          </div>

      <% end %>


  </div>


  </div>
